PORT=5000
MONGO_URI=mongodb://USER:PASSWORD@ac-a1evht6-shard-00-00.ylhwgyt.mongodb.net:27017,ac-a1evht6-shard-00-01.ylhwgyt.mongodb.net:27017,ac-a1evht6-shard-00-02.ylhwgyt.mongodb.net:27017/event-booking?ssl=true&replicaSet=atlas-y0dkui-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=your-long-random-secret-here
